.profile_img_section{ width: 140px; height: 140px; border-radius:50%; margin: 23px auto; position: relative;
    img{ width: 100%; height: 100%; border-radius:50%; }
}
.profile_upload_btn{
    width: 42px; height: 42px; border-radius:50%; background: #f38320; text-align: center; border:5px solid #fff; position: absolute; bottom: 0; right: 0; padding: 8px 0 0 0;
    img{ width: auto; height: auto; border-radius:0; }
}
.profile_info h4{ padding: 0; margin: 0; color: #000; font-size: 20px; font-weight: 700; font-family: "Open Sans", sans-serif; text-align: center; }
.profile_info p{ padding: 5px 0 0 0; margin: 0; color: #000; font-size: 14px; font-weight: 400; font-family: "Open Sans", sans-serif; text-align: center; }

.reviewgrid ion-row ion-col{ 
    text-align: center; border-right:#f38320 solid 1px; 
    img{ padding-top: 5px; }
    h5{ padding: 0; margin: 0; color: #000000; font-size: 14px; font-weight: 400; font-family: "Open Sans", sans-serif; }
    h4{ padding: 5px 0 0 0;  margin: 0; color: #f38320; font-size: 15px; font-weight: 700; font-family: "Open Sans", sans-serif; }
}
.reviewgrid ion-row ion-col:last-child{ border-right:0; }
.reviewgrid{ border-top:#f38320 solid 1px; border-bottom:#f38320 solid 1px; margin: 19px 0 27px 0; }
.tabpanel ul{ padding: 0 0 35px 0; margin: 0; list-style: none; text-align: center; }
.tabpanel ul li{ display: inline-block; margin: 0 15px; }
.tabpanel ul li a{ display: block; padding: 0; color: #666666; font-size: 18px; font-weight: 600; font-family: "Open Sans", sans-serif; text-decoration: none; padding:0 10px; position: relative; }
.tabpanel ul li.activetab a:after{ position: absolute; bottom:-10px; width: 100%; background: #f38320; height: 2px; content: ""; left: 0; }
.tabpanel ul li.activetab a{ color:#f38320; }
.gallery_box{
    display: inline-block; width: 31.33%; margin: 1%; border-radius: 10px; vertical-align: top; height: 100px; overflow: hidden;
    ion-img{width: 100%; height: 100%; object-fit: cover;}
}
.addgallery{ 
    background: #f38320; text-align: center; padding: 19px 0;
    img{ width: auto !important; }
    span{ color: #fff; font-weight: 400; font-size: 14px; font-family: "Open Sans", sans-serif; display: block; text-transform: uppercase; padding: 10px 0 0 0; }
}
.cus_btn{margin: 0;}
.cust_input {
    padding-left: 15px !important; padding-right: 15px !important;
}
.more_btn{ letter-spacing: 0; padding: 0 5px; border-radius: 8px; color: #f38320 !important; font-size: 12px; font-weight: 600; font-family: "Open Sans", sans-serif; --background: #fff; text-transform: capitalize; border: #f38320 solid 2px; width: 100%; height: 30px; --box-shadow: none; }