<ion-header class="ion-no-border">
  <ion-toolbar class="provider-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>Schedule Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="nofound"
    style="padding:50px 20px; color: #bfbfbf; font-weight: bold; font-size: 22px; text-align: center;">[ Sorry! Nothing
    Found. ]</div>
  <div *ngIf="!nofound" class="notification">
    <div class="notification_box" *ngFor="let item of allnotiData">
      <div class="notification_icon"><img src="assets/images/notification_icon.jpg" alt="notification_icon" /></div>
      <p>{{item.notification_text}}</p>
      <span>{{item.created_at}}</span>
      <div *ngIf="item.nanny_request_schedule_id != null">
        <ion-button color="danger" size="small" shape="round"
          (click)="onDeclined(item.nanny_request_schedule_id, item.notification_id)">Declined</ion-button>
        <ion-button color="success" size="small" shape="round"
          (click)="onAccept(item.nanny_request_schedule_id, item.notification_id)">Accept</ion-button>
      </div>
    </div>
  </div>
</ion-content>