.dashboard_top{ background: #41b578; padding: 10px 0 15px 0; 
    h3{ padding: 0; margin: 0 0 2px 0; color: #ffffff; font-size:18px; font-weight: 700; font-family: "Open Sans", sans-serif; text-align: center; }
    span{ padding: 2px 0; margin: 0; color: #ffffff; font-size:14px; font-weight: 400; font-family: "Open Sans", sans-serif; text-align: center; display: block; }
}
.dashboard_img{ width: 120px; height: 120px; border-radius:50%; margin: 12px auto; border: #fff solid 5px; overflow: hidden;
    ion-img{ width: 100%; height: 100%; border-radius:50%; overflow: hidden; object-fit: cover;}
}
.dashboardlisting{  margin-left: -20px; }
.dashboardlisting ion-item ion-label{ padding: 5px 20px !important; color: #444444 !important; font-size:14px !important; font-family: "Open Sans", sans-serif!important; font-weight: 600; }
.dashboardlisting ion-item img{ padding-left: 20px; width: 40px; }