
.home_search{ 
    border: 1px #ffffff solid; width: 95%; margin: 0 auto; border-radius: 50px; background: #fff; position: relative; padding: 0 45px 0 30px;
    .search_icon{
        position: absolute;
        left: 10px;
        top: 7px;
        height: 15px;
        opacity: 0.6;
    }
    .filter_icon{
        position: absolute;
        right: 10px;
        top: 7px;
        height: 17px;
    }
    .search_input {
        height: 30px;
        font-size: 12px;
        margin: 0;
        padding: 0 !important;
        text-align: left;
        background: #ffffff; --background: #ffffff; color: #666666; font-size: 13px; font-weight: 400; font-family: 'Open Sans', sans-serif; border: 1px #ffffff solid;
    }
}
.parts{
    margin: 20px 0;
    h3{
        padding: 0 0 15px 0;
        margin: 0;
        color: #222222;
        font-size:22px;
        font-weight: 700;
        font-family: "Open Sans", sans-serif;
    }
    .sericon{ display: block; text-decoration: none;
        img{ width: 80%; }
        span{ display: block; color: #444444; font-size:14px; font-weight: 400; font-family: "Open Sans", sans-serif; padding: 5px 0 0 0; }
    }
}
.sliderbox{
    background: #ffffff; box-shadow: #dddddd 0 1px 5px; width: 250px; border-radius: 10px; margin: 5px; overflow: hidden;
    .box_image{
        width: 100%; height: 130px; background: #eeeeee; overflow: hidden;
        img{ height: 100%; object-fit: cover; object-position: top;}
    }
    .box_details{
        padding: 10px; text-align: left;
        h3{padding: 0 0 2px 0; margin: 0; color: #333333; font-size:16px; font-weight: 800; font-family: "Open Sans", sans-serif; }
        span{ color: #555555; font-size:12px; font-style: italic; padding: 0 0 12px 0; display: block; }
        a{ margin: 3px 12px 0 0; 
            img{ height: 20px; }
        }
    }
h3 {
    width: 200px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    
    }

}