<ion-header class="ion-no-border">
  <ion-toolbar class="provider-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>My Earnings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="nofound" style="padding:50px 20px; color: #bfbfbf; font-weight: bold; font-size: 22px; text-align: center;">[ Sorry! Nothing Found. ]</div>
  <div *ngIf="!nofound" class="total_top">
    <ion-grid>
      <ion-row>
        <ion-col>Total Earning</ion-col>
        <ion-col class="total_top_right">${{totalearning}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div style="padding: 0 20px;">
    <div class="earning_box" *ngFor="let item of earningData">
      <ion-grid>
        <ion-row>
          <ion-col>
            <span>#{{item.booking_id}}</span>
            <h3>{{item.parent_parent}} {{item.parent_lname}}</h3>
            <i>{{item.date}}</i>
          </ion-col>
          <ion-col>
            <div class="eraning_r">
              <h4>${{item.amount}}</h4>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>    
  </div>
</ion-content>