.step{ 
    background: #fff0e3; padding: 8px 0;
    ul{
        padding: 0; width: 300px; margin: 0 auto; margin-bottom: 5px; list-style: none; text-align: center; position: relative;
        li{ 
            display: inline-block; position: relative; padding: 0 15%; z-index: 999;
            a{ display: block; width: 22px; height: 22px; background: #fff; border:#f38320 solid 1px; border-radius:50%; position: relative; }  
            span{ display: block; color: #666666; font-size: 13px; font-weight: 400; font-family: 'Open Sans', sans-serif; margin: 7px 0 0 -5px; }
        }
        li:first-child{ padding-left: 0; }
        li:last-child{ padding-right: 0; text-align: right; }
        li.activestep a { width: 30px; height: 30px; background: #f38320; position: relative; z-index: 999; margin-top: 0; margin-left: -3px; top: 5px; }
        li.activestep a:after{ width: 13px; height: 5px; content: ""; position: absolute; border-left: 3px #ffffff solid; border-bottom: 3px #ffffff solid; transform: rotate(-45deg); left: 6px; top: 8px; }
    
    }
    ul:after {
        background: #cccccc; position: absolute; left: 0; right: 0; top: 18px; width: 80%; height: 2px; content: ""; margin: 0 auto; z-index: 0;
    }
}
.register_panel{ padding: 20px; }
.sml_cus_btn{ box-shadow: #fdb77a 0 0 15px 5px; margin: 20px; border-radius: 30px; }
.cust_input:hover{ border-color: #f38320; box-shadow: #fff0e3 0 0 6px 4px;}
.pl_input{
    width: 100%; height: 50px; background: #f2f2f2; --background: #f2f2f2; border-radius:50px; color: #555555; font-size: 15px; font-weight: 400; font-family: 'Open Sans', sans-serif; margin: 10px 0; padding: 0 20px !important; border: 1px #f2f2f2 solid;
    input{padding: 0 !important; --placeholder-opacity: 0.2;}    
}
.phl:hover{ border-color: #41b578; box-shadow: #e7fef2 0 0 6px 4px; background: #ffffff; }
.plusminus{background: #f2f2f2; width: 75px; border-radius: 30px; border: #f38320 1px solid; color: #f38320; text-align: center; display: flex; height: 25px; line-height: 18px;
    .btnleft{padding: 1px; width: 25px;}
    .btnright{padding: 1px; width: 25px;}
    .number {padding: 2px; width: 30px; background: #f38320; color: #ffffff; font-size: 11px;}
}
.custompop{
    position: absolute; background: rgba($color: #000000, $alpha: 0.7); top: 0; left: 0; z-index: 99; width: 100%; height: 100%; display: table;
    .custompop_in{display: table-cell; vertical-align: middle; padding: 0 20px;}
    .popin{background: #ffffff; padding: 20px; width: 100%; border-radius: 20px;
        h3{font-size: 20px; font-weight: bold; text-align: center; margin: 0 0 20px 0;}
    }
}
.tion{
    background: #f38320;
    padding: 8px 12px;
    border-radius: 30px;
    display: inline-block;
    margin: 2px;
    color: #ffffff;
    font-size: 13px;
}