.custompop{
    position: absolute; background: rgba($color: #000000, $alpha: 0.7); top: 0; left: 0; z-index: 99; width: 100%; height: 100%; display: table;
    .custompop_in{display: table-cell; vertical-align: middle; padding: 0 20px;}
    .popin{background: #ffffff; padding: 20px; width: 100%; border-radius: 20px;
        h3{font-size: 20px; font-weight: bold; text-align: center; margin: 0 0 20px 0;}
    }
}
.cust_input span{
    position: absolute;
    right: 10px;
    border-left: 1px #9e9d9d solid;
    padding-left: 4px;
}