<ion-header class="ion-no-border">
  <ion-toolbar class="provider-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="hideextra">Become A Nanny</ion-title>
    <ion-title *ngIf="!hideextra">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="step">
    <ul>
      <li class="activestep"><a></a><span>Step 1</span></li>
      <li class="activestep"><a></a><span>Step 2</span></li>
      <li class="activestep"><a></a><span>Step 3</span></li>
    </ul>
  </div>
  <div class="register_panel">
    <p style="color: #f44336; font-size: 12px; margin: 0 0 15px 0; text-align: right;">* Below all fields are mandatory *
    </p>
    <ion-grid class="hourlyplan">
      <ion-row>
        <ion-col>
          <ion-label style="line-height: 50px; font-size: 14px;">Interest In</ion-label>
        </ion-col>
        <ion-col>
          <ion-select class="cust_input" placeholder="Choose One" [(ngModel)]="interest_in" [interfaceOptions]="customActionSheetOptions"
            interface="action-sheet" style="margin: 0;">
            <ion-select-option value="Live-In">Live-In</ion-select-option>
            <ion-select-option value="Live-Out">Live-Out</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="preData.servicetype != 3">
        <ion-col>
          <ion-label style="line-height: 50px; font-size: 14px;">Experience</ion-label>
        </ion-col>
        <ion-col>
          <ion-input [(ngModel)]="experience" placeholder="In Year" type="tel" class="cust_input" style="margin: 0;"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label style="line-height: 50px; font-size: 14px;">Select Rate</ion-label>
        </ion-col>
        <ion-col>
          <ion-select class="cust_input" style="margin: 0; min-width: 130px; padding: 0 12px !important;"
            placeholder="Choose Type" [(ngModel)]="ratetype" [interfaceOptions]="customActionSheetOptions"
            interface="action-sheet">
            <ion-select-option value="Hourly">Hourly</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-input [(ngModel)]="rate" class="cust_input amount" style="margin: 0;"><span>$</span></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none" style="margin: 15px 0;">
      <h3 slot="start" style="font-weight: bold; margin: 0; font-size: 20px;">Available On</h3>
      <ion-button color="dark" slot="end" shape="round" size="small" style="width: 130px; height: 35px;"
        (click)="openPop()">Add Schedule</ion-button>
    </ion-item>
    <ion-row *ngFor="let item of availableList; let i = index" style="padding: 0 15px;">      
      <ion-col size="1" style="padding: 15px 0px;">
        <ion-checkbox style="margin: 0; margin-right: 10px;" color="success" checked="true" (ionChange)="rmSchedule(i)"></ion-checkbox>
      </ion-col>
      <ion-col size="6" style="padding: 15px 10px;">
        <ion-label class="uplaodtext">{{item.day}}</ion-label>
      </ion-col>
      <ion-col size="5">
        <div class="cust_input daychoose">{{item.time}}</div>
      </ion-col>
    </ion-row>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar class="ftr">
    <ion-button color="dark" slot="start" fill="clear" shape="round" (click)="onBack()" class="sml_cus_btn"
      style="box-shadow: none;">
      <img src="assets/images/black_l_arrow.png" />&nbsp; Back</ion-button>
    <ion-button *ngIf="hideextra" color="success" slot="end" shape="round" (click)="onSubmit()" class="sml_cus_btn">Submit</ion-button>
    <ion-button *ngIf="!hideextra" color="success" slot="end" shape="round" (click)="oneditSave()" class="sml_cus_btn">Save</ion-button>
  </ion-toolbar>
</ion-footer>

<div class="custompop" *ngIf="pop">
  <div class="custompop_in">
    <div class="popin">
      <h3>Choose Your Availibility</h3>
      <ion-select class="cust_input" [(ngModel)]="selectDay" placeholder="Choose Day"
        [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
        <ion-select-option value="Monday">Monday</ion-select-option>
        <ion-select-option value="Tuesday">Tuesday</ion-select-option>
        <ion-select-option value="Wednesday">Wednesday</ion-select-option>
        <ion-select-option value="Thursday">Thursday</ion-select-option>
        <ion-select-option value="Friday">Friday</ion-select-option>
        <ion-select-option value="Saturday">Saturday</ion-select-option>
        <ion-select-option value="Sunday">Sunday</ion-select-option>
      </ion-select>
      <ion-select class="cust_input" [(ngModel)]="selectTime" placeholder="Choose Timing"
        [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
        <ion-select-option value="Full Day">Full Day</ion-select-option>
        <ion-select-option value="Morning">Morning</ion-select-option>
        <ion-select-option value="Night">Night</ion-select-option>
      </ion-select>
      <div style="display: flex; margin-top: 20px;">
        <ion-button color="medium" expand="full" shape="round" fill="outline" (click)="closepop()" class="sml_cus_btn"
          style="width: 100%; box-shadow: none; margin: 0 3px;">Cancel</ion-button>
        <ion-button color="success" expand="full" shape="round" (click)="onSave(selectDay)" class="sml_cus_btn"
          style="width: 100%; box-shadow: none; margin: 0 3px;">Save</ion-button>
      </div>
    </div>
  </div>
</div>