.congratulation_screen{
    width: 100%; height: 100%; position: absolute; display: table; padding: 40px;
    .congratulation_panel{ display: table-cell; text-align: center; vertical-align: middle;
        img{ width: 70%; }
        h3{ padding: 40px 0 10px 0; margin: 0; color: #333333; font-size: 26px; font-weight: 700; font-family: "Open Sans", sans-serif; }
        p{ margin: 0; margin-bottom: 40px;  color: #666666; font-size: 16px; font-weight: 400; font-family: "Open Sans", sans-serif; line-height: 24px; }
    }
}
