.welcomelogo{ text-align: center; 
     img{ width: 50%; }
}
.welcome_text{ padding: 0 30px;
    h4{ padding: 40px 0 0 0; margin: 0; font-size: 20px; font-weight: 400; font-family: 'Open Sans', sans-serif; text-align: center; }
    h2{ padding: 0 0 20px 0; margin: 0; font-size: 24px; font-weight: 700; font-family: "Open Sans", sans-serif; text-align: center; }
    p{ text-align: center; color: #000000; font-size: 14px; font-weight: 400; font-family: "Open Sans", sans-serif;  margin: 20px 0;
        a{ color: #000000; font-size: 14px; text-decoration: underline; font-weight: 600; font-family: "Open Sans", sans-serif; text-align: center; }
    }
}
