.welcomelogo{ text-align: center; padding: 20px 0;
    img{ width: 40%; }
}
.welcome_text{ padding: 0 30px;
   h4{ padding: 40px 0 0 0; margin: 0; font-size: 20px; font-weight: 400; font-family: 'Open Sans', sans-serif; text-align: center; }
   h2{ padding: 0 0 20px 0; margin: 0; font-size: 24px; font-weight: 700; font-family: "Open Sans", sans-serif; text-align: center; }
   p{ text-align: center; color: #000000; font-size: 14px; font-weight: 400; font-family: "Open Sans", sans-serif;  margin: 20px 0;
       a{ color: #000000; font-size: 14px; text-decoration: underline; font-weight: 600; font-family: "Open Sans", sans-serif; text-align: center; }
   }
}

.bookpopup{ background: rgba(0,0,0,0.7); width: 100%; height: 100%; position: fixed; top:0; left: 0; z-index: 99; display: table;
    .bookpopup_main{
        display: table-cell; vertical-align: middle; text-align: center; padding: 30px;
        .bookpopup_main_in{
            padding: 30px 20px 15px 20px; width: 100%; background: #ffffff; border-radius: 10px;
            h3{ letter-spacing: 0; font-size:20px; font-weight: 700; font-family: "Open Sans", sans-serif; color: #222222; margin: 20px 0 10px 0; }
            p{color: #999; margin: 0 0 20px 0; font-size: 15px;}
        }
    }
}
